
nav{
    color: grey;
    font-size: xxx-large ;
    display: block;
    color: black;
    padding: 50px 0px;
    font-weight: bolder;
}





img {
    background-color: aliceblue;
    width: auto;
    display: block;
    margin: auto;
}