 /* NAVIGATION */
nav {
    text-align: left; 
    margin: 2rem 0rem;
    border-radius: 2rem;
    border: 1px solid black;
}

.welcomeMsg {
    padding-left: 2rem;
    font-size: xxx-large;
}

body{
    background-image: url("images/wp5594835-4k-minimal-anime-wallpapers.jpg");
    background-size: cover;
}
p {
    margin: 0px;
}

.qouteAndLinks {
    display: flex;
    justify-content: space-between;
}

.links ul li{
    display: inline;   
}

.links ul {
    margin-right: 2rem;
    margin-top: 4rem;
}

.links ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 5px 1rem;
    margin: 0rem 1rem;
    color: black;
}

.qoute {
    margin-left: 1rem;
    margin-top: 0px;
    color: black;
    text-align: start;
    font-size: x-small;
    padding: 1rem 1rem;

}

 /* NAVIGATION */

/* section about me */

.aboutME {
    margin-top: 2rem;
    text-align: center;
    color: black;
    font-size: medium;
    border-radius: 1rem;
    
}

.aboutME p {
    padding: 2rem
}

.aboutME h1 {
    font-size: large;
    text-decoration: underline ;
    
}

/* section about me */

.experience {
    border: 1px solid black;
    border-radius: 1px;
}

.experience {
    text-align: center;
}

.experience h3 {
    text-decoration: underline;
}

.txtWorkEx {
    text-align: center;
    text-decoration: underline;
}

.experience p {
    padding: 10px 0px;
}

.rAndr {
    text-align: start;
}