 /* NAVIGATION */
nav {
    background-image: url("images/tomoko-uji-OrKxMmp3MZI-unsplash.jpg");
    background-size: cover;
    color: grey;
    text-align: left;
    border-radius: 1rem;
    ;
    margin: 0px;
    border-bottom: 1px solid gray;
}

body{
    background-color: black;
}

p {
    margin: 0px;
}

.intro{
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0rem;
    font-weight: bolder;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    
}

.experience {
    padding: 2rem 0rem;
}

img {
    width: 125px;
    border: 1px solid grey;
    border-radius: 5px;
    
    margin-top: 2rem;
    margin-right: 1rem;
}

.navLink {
    margin-top: 10px;
    margin: auto auto;
    text-align: end;
    
    

}

.navItem {
    display: inline;
    color: grey;
    margin: 100px auto;
    

}

.navItem1 {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 3px 1rem;
    margin: 0px 10px;
    background-color: grey;
    border-radius:1rem;
}

.qoute {
    margin-left: 1rem;
    margin-top: 0px;
    color: grey;
    text-align: start;
    width: auto;
    padding: 4rem 0rem;

}

 /* NAVIGATION */

/* section */

section {
    background-color:black;
    text-align: center;
    color: grey;
    font-size: large;
    border-radius: 1rem;
    border-top: 1px solid grey;
    
}

.aboutME p {
    padding: 2rem
}